In [52]:
import pandas as pd
import numpy as np

In [38]:
converters = {'num_documento_cliente': str,
             'tipo_documento_cliente': str,
             'codigo_tienda': str, 
             'total_compra': float,
             'tipo_tienda': str,
             'latitud_tienda': float,
             'longitud_tienda': float,
             'id_barrio': str,
             'nombre_barrio': str}

In [39]:
data = pd.read_csv('data/dataset.csv', converters=converters)

In [40]:
data.columns

Index(['num_documento_cliente', 'tipo_documento_cliente', 'codigo_tienda',
       'total_compra', 'tipo_tienda', 'latitud_tienda', 'longitud_tienda',
       'id_barrio', 'nombre_barrio', 'fecha_compra'],
      dtype='object')

In [41]:
len(data)

94610

In [42]:
data.head()

,num_documento_cliente,tipo_documento_cliente,codigo_tienda,total_compra,tipo_tienda,latitud_tienda,longitud_tienda,id_barrio,nombre_barrio,fecha_compra
0,6861792605025121524,1,14812028,22218042.0,Tienda especializada,3.402118,-76.525681,737998244,Canaverales Los Samanes,2022-06-15 15:49:11
1,1552970090928921643,1,14388938,21583407.0,Tienda especializada,3.468765,-76.484936,737998896,Jorge Eliecer Gaitan,2022-10-02 22:14:54
2,-4075904842556875666,1,12370698,6185349.0,Tienda especializada,3.400743,-76.524839,737998244,Canaverales Los Samanes,2022-01-10 0:27:57
3,3539339627033221084,1,10313583,10313583.0,Tienda especializada,3.369544,-76.523664,738000400,Lili,2022-09-02 16:30:24
4,5595554501572542610,1,14358071,28716142.0,Tienda especializada,3.419046,-76.497730,737996734,El Poblado,2022-03-20 2:56:49

In [45]:
data['fecha_compra'] = pd.to_datetime(data['fecha_compra'], format='%Y-%m-%d %H:%M:%S')
data['year_compra']= data['fecha_compra'].dt.year
data['month_compra']= data['fecha_compra'].dt.month_name('es_ES.utf8')
data['day_compra']= data['fecha_compra'].dt.day_name('es_ES.utf-8')
data['fecha_compra'] = data['fecha_compra'].dt.date

In [48]:
data.to_csv('data/dataset.csv', sep=',', index=False, encoding='utf-8')

In [47]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94610 entries, 0 to 94609
Data columns (total 13 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   num_documento_cliente   94610 non-null  object
 1   tipo_documento_cliente  94610 non-null  object
 2   codigo_tienda           94610 non-null  object
 3   total_compra            94610 non-null  float64
 4   tipo_tienda             94610 non-null  object
 5   latitud_tienda          94610 non-null  float64
 6   longitud_tienda         94610 non-null  float64
 7   id_barrio               94610 non-null  object
 8   nombre_barrio           94610 non-null  object
 9   fecha_compra            94610 non-null  object
 10  year_compra             94610 non-null  int32
 11  month_compra            94610 non-null  object
 12  day_compra              94610 non-null  object
dtypes: float64(3), int32(1), object(9)
memory usage: 9.0+ MB

In [8]:
data['id_documento'] = data['num_documento_cliente'] + 'T-' + data['tipo_documento_cliente']

In [9]:
len(data)

94610

In [10]:
documentos = data.loc[:, ['id_documento', 'num_documento_cliente', 'tipo_documento_cliente']]

In [11]:
len(documentos)

94610

In [12]:
documentos.head()

              id_documento num_documento_cliente tipo_documento_cliente
0   6861792605025121524T-1   6861792605025121524                      1
1   1552970090928921643T-1   1552970090928921643                      1
2  -4075904842556875666T-1  -4075904842556875666                      1
3   3539339627033221084T-1   3539339627033221084                      1
4   5595554501572542610T-1   5595554501572542610                      1

In [13]:
documentos.drop_duplicates('id_documento', inplace=True)

In [14]:
len(documentos)

11541

In [15]:
documentos.to_csv('data/dimension_documento.csv', sep=',', index=False)

In [16]:
documentos.head()

              id_documento num_documento_cliente tipo_documento_cliente
0   6861792605025121524T-1   6861792605025121524                      1
1   1552970090928921643T-1   1552970090928921643                      1
2  -4075904842556875666T-1  -4075904842556875666                      1
3   3539339627033221084T-1   3539339627033221084                      1
4   5595554501572542610T-1   5595554501572542610                      1

In [17]:
data.drop(['num_documento_cliente', 'tipo_documento_cliente'], axis=1, inplace=True)

In [18]:
len(data)

94610

In [19]:
data.drop_duplicates(inplace=True)

In [20]:
len(data)

94609

In [21]:
data

,codigo_tienda,total_compra,tipo_tienda,latitud_tienda,longitud_tienda,id_barrio,nombre_barrio,fecha_compra,year_compra,month_compra,id_documento
0,14812028,22218042.0,Tienda especializada,3.40211808,-76.52568134,737998244,Canaverales Los Samanes,2022-06-15,2022,June,6861792605025121524T-1
1,14388938,21583407.0,Tienda especializada,3.468765417,-76.48493586,737998896,Jorge Eliecer Gaitan,2022-10-02,2022,October,1552970090928921643T-1
2,12370698,6185349.0,Tienda especializada,3.40074292,-76.52483946,737998244,Canaverales Los Samanes,2022-01-10,2022,January,-4075904842556875666T-1
3,10313583,10313583.0,Tienda especializada,3.369543673,-76.52366403,738000400,Lili,2022-09-02,2022,September,3539339627033221084T-1
4,14358071,28716142.0,Tienda especializada,3.419045741,-76.49772993,737996734,El Poblado,2022-03-20,2022,March,5595554501572542610T-1
...,...,...,...,...,...,...,...,...,...,...,...
94605,1116,558.0,Supermercado,3.47740375,-76.52670515,737998252,Chipichape,2022-04-30,2022,April,-6859292209449934659T-2
94606,745,372.5,Tienda Outlet,3.41432528,-76.54798624,737998095,Unidad Residencial Santiago de Cali,2022-01-07,2022,January,-1762474661445594290T-2
94607,745,372.5,Supermercado,3.45120421,-76.5329424,737998832,San Pedro,2022-11-09,2022,November,-1762474661445594290T-2
94608,4090,2045.0,Supermercado,3.42755068,-76.49999127,737995769,Julio Rincón,2022-06-15,2022,June,-2708241712915270749T-2
94609,15409667,15409667.0,Tienda especializada,3.450511126,-76.53831413,737998685,El Peñón,2022-02-11,2022,February,4476350616100556296T-2

In [22]:
prueba = pd.merge(data, documentos, on='id_documento', how='left')

In [23]:
len(prueba)

94609

In [24]:
tiendas = data.loc[:, ['codigo_tienda', 'tipo_tienda', 'latitud_tienda', 'longitud_tienda']]

In [25]:
tiendas.drop_duplicates(inplace=True)

In [26]:
tiendas.codigo_tienda.nunique()

6014

In [27]:
tiendas[tiendas.duplicated('codigo_tienda', keep=False)]

     codigo_tienda    tipo_tienda latitud_tienda longitud_tienda
1662           745  Tienda Outlet     3.41432528    -76.54798624
1663           745   Supermercado     3.45120421     -76.5329424
1779           747  Tienda Outlet     3.48580695    -76.51629204
1780           747   Supermercado     3.45120421     -76.5329424

In [28]:
data['id_tienda'] = data['codigo_tienda'] +'LAT' + data['latitud_tienda'] + 'LON' +data['longitud_tienda']

In [29]:
tiendas = data.loc[:, ['id_tienda', 'codigo_tienda', 'tipo_tienda', 'latitud_tienda', 'longitud_tienda']]
tiendas.drop_duplicates(inplace=True)
tiendas.id_tienda.nunique()

6016

In [30]:
data.drop(['codigo_tienda', 'tipo_tienda', 'latitud_tienda', 'longitud_tienda'], axis=1, inplace=True)

In [31]:
data

,total_compra,id_barrio,nombre_barrio,fecha_compra,year_compra,month_compra,id_documento,id_tienda
0,22218042.0,737998244,Canaverales Los Samanes,2022-06-15,2022,June,6861792605025121524T-1,14812028LAT3.40211808LON-76.52568134
1,21583407.0,737998896,Jorge Eliecer Gaitan,2022-10-02,2022,October,1552970090928921643T-1,14388938LAT3.468765417LON-76.48493586
2,6185349.0,737998244,Canaverales Los Samanes,2022-01-10,2022,January,-4075904842556875666T-1,12370698LAT3.40074292LON-76.52483946
3,10313583.0,738000400,Lili,2022-09-02,2022,September,3539339627033221084T-1,10313583LAT3.369543673LON-76.52366403
4,28716142.0,737996734,El Poblado,2022-03-20,2022,March,5595554501572542610T-1,14358071LAT3.419045741LON-76.49772993
...,...,...,...,...,...,...,...,...
94605,558.0,737998252,Chipichape,2022-04-30,2022,April,-6859292209449934659T-2,1116LAT3.47740375LON-76.52670515
94606,372.5,737998095,Unidad Residencial Santiago de Cali,2022-01-07,2022,January,-1762474661445594290T-2,745LAT3.41432528LON-76.54798624
94607,372.5,737998832,San Pedro,2022-11-09,2022,November,-1762474661445594290T-2,745LAT3.45120421LON-76.5329424
94608,2045.0,737995769,Julio Rincón,2022-06-15,2022,June,-2708241712915270749T-2,4090LAT3.42755068LON-76.49999127
94609,15409667.0,737998685,El Peñón,2022-02-11,2022,February,4476350616100556296T-2,15409667LAT3.450511126LON-76.53831413

In [32]:
data.drop_duplicates(inplace=True)

In [33]:
len(data)

94609

In [34]:
prueba = pd.merge(data, tiendas, on='id_tienda', how='left')

In [35]:
len(prueba)

94609

In [36]:
tiendas.to_csv('data/dimension_tienda.csv', sep=',', index=False)

In [37]:
tiendas.head()

,id_tienda,codigo_tienda,tipo_tienda,latitud_tienda,longitud_tienda
0,14812028LAT3.40211808LON-76.52568134,14812028,Tienda especializada,3.40211808,-76.52568134
1,14388938LAT3.468765417LON-76.48493586,14388938,Tienda especializada,3.468765417,-76.48493586
2,12370698LAT3.40074292LON-76.52483946,12370698,Tienda especializada,3.40074292,-76.52483946
3,10313583LAT3.369543673LON-76.52366403,10313583,Tienda especializada,3.369543673,-76.52366403
4,14358071LAT3.419045741LON-76.49772993,14358071,Tienda especializada,3.419045741,-76.49772993

In [39]:
barrios = data.loc[:, ['id_barrio', 'nombre_barrio']]

In [40]:
barrios.drop_duplicates(inplace=True)

In [41]:
len(barrios)

277

In [42]:
barrios.head()

   id_barrio             nombre_barrio
0  737998244   Canaverales Los Samanes
1  737998896      Jorge Eliecer Gaitan
3  738000400                      Lili
4  737996734                El Poblado
5  738000407  Urbanización San Juaquín

In [43]:
barrios.id_barrio.nunique()

277

In [44]:
barrios.to_csv('data/dimension_barrio.csv', sep=',', index=False)

In [45]:
data.drop(['nombre_barrio'], axis=1, inplace=True)

In [46]:
data = data.loc[:, ['id_documento', 'id_tienda', 'id_barrio', 'total_compra', 'fecha_compra']]

In [47]:
data.to_csv('data/hecho_compra.csv', sep=',', index=False)

In [49]:
data

,id_documento,id_tienda,id_barrio,total_compra,fecha_compra
0,6861792605025121524T-1,14812028LAT3.40211808LON-76.52568134,737998244,22218042.0,2022-06-15
1,1552970090928921643T-1,14388938LAT3.468765417LON-76.48493586,737998896,21583407.0,2022-10-02
2,-4075904842556875666T-1,12370698LAT3.40074292LON-76.52483946,737998244,6185349.0,2022-01-10
3,3539339627033221084T-1,10313583LAT3.369543673LON-76.52366403,738000400,10313583.0,2022-09-02
4,5595554501572542610T-1,14358071LAT3.419045741LON-76.49772993,737996734,28716142.0,2022-03-20
...,...,...,...,...,...
94605,-6859292209449934659T-2,1116LAT3.47740375LON-76.52670515,737998252,558.0,2022-04-30
94606,-1762474661445594290T-2,745LAT3.41432528LON-76.54798624,737998095,372.5,2022-01-07
94607,-1762474661445594290T-2,745LAT3.45120421LON-76.5329424,737998832,372.5,2022-11-09
94608,-2708241712915270749T-2,4090LAT3.42755068LON-76.49999127,737995769,2045.0,2022-06-15
94609,4476350616100556296T-2,15409667LAT3.450511126LON-76.53831413,737998685,15409667.0,2022-02-11

In [362]:
#

In [367]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 94610 entries, 0 to 94609
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_documento  94610 non-null  object
 1   id_tienda     94610 non-null  object
 2   id_barrio     94610 non-null  object
 3   total_compra  94610 non-null  float64
 4   fecha_compra  94610 non-null  object
 5   year_compra   94610 non-null  int32
 6   month_compra  94610 non-null  object
dtypes: float64(1), int32(1), object(5)
memory usage: 4.7+ MB

In [255]:
fechas = data.loc[:,['fecha_compra', 'year_compra', 'month_compra']]

In [368]:
fechas.drop_duplicates(inplace=True)

In [370]:
fechas.year_compra.unique()

array([2022])

In [371]:
data

,id_documento,id_tienda,id_barrio,total_compra,fecha_compra,year_compra,month_compra
0,6861792605025121524T-1,14812028LAT3.40211808LON-76.52568134,737998244,22218042.0,2022-06-15,2022,June
1,1552970090928921643T-1,14388938LAT3.468765417LON-76.48493586,737998896,21583407.0,2022-10-02,2022,October
2,-4075904842556875666T-1,12370698LAT3.40074292LON-76.52483946,737998244,6185349.0,2022-01-10,2022,January
3,3539339627033221084T-1,10313583LAT3.369543673LON-76.52366403,738000400,10313583.0,2022-09-02,2022,September
4,5595554501572542610T-1,14358071LAT3.419045741LON-76.49772993,737996734,28716142.0,2022-03-20,2022,March
...,...,...,...,...,...,...,...
94605,-6859292209449934659T-2,1116LAT3.47740375LON-76.52670515,737998252,558.0,2022-04-30,2022,April
94606,-1762474661445594290T-2,745LAT3.41432528LON-76.54798624,737998095,372.5,2022-01-07,2022,January
94607,-1762474661445594290T-2,745LAT3.45120421LON-76.5329424,737998832,372.5,2022-11-09,2022,November
94608,-2708241712915270749T-2,4090LAT3.42755068LON-76.49999127,737995769,2045.0,2022-06-15,2022,June
94609,4476350616100556296T-2,15409667LAT3.450511126LON-76.53831413,737998685,15409667.0,2022-02-11,2022,February

In [53]:
cols = ['tipo_tienda', 'nombre_barrio']
agg = {'total_compra': sum}
max_compras = data.groupby(cols, as_index=False).agg(agg)
max_compras.total_compra

              tipo_tienda                nombre_barrio  total_compra
0            Hipermercado                   Chipichape  1.862128e+06
1            Hipermercado                     El Cedro  2.365852e+06
2            Hipermercado                      El Sena  1.597321e+06
3            Hipermercado                         Lili  1.603686e+06
4            Hipermercado                Los Alcázares  6.973100e+05
..                    ...                          ...           ...
564  Tienda especializada                Villa del Sur  1.432414e+08
565  Tienda especializada                   Villanueva  2.922779e+07
566  Tienda especializada                 Ville Grande  1.031786e+09
567  Tienda especializada                       Vipasa  4.200323e+09
568  Tienda especializada  Área Libre-Parque del Amor  6.851796e+09

[569 rows x 3 columns]

In [57]:
perc_95 = np.percentile(max_compras.total_compra, 95)
cond =  max_compras.total_compra >= perc_95
max_compras[cond].sort_values('total_compra', ascending=False)

         tipo_tienda                        nombre_barrio  total_compra
275  Tienda Regional                          San Nicolás  8.283501e+11
290  Tienda Regional                       Unicentro Cali  5.855341e+11
161  Tienda Regional                               Calima  5.681686e+11
198  Tienda Regional                              El Sena  5.163137e+11
298  Tienda Regional                            Versalles  5.060217e+11
170  Tienda Regional                            Chapinero  5.009680e+11
178  Tienda Regional                     Colseguros Andes  4.682271e+11
292  Tienda Regional  Unidad Residencial Santiago de Cali  4.629650e+11
278  Tienda Regional                          San Vicente  4.624782e+11
230  Tienda Regional                                 Lili  4.402504e+11
220  Tienda Regional                            La Merced  3.393279e+11
302  Tienda Regional                         Ville Grande  3.310606e+11
287  Tienda Regional                                Sucre  3.168136e+11
277  Tienda Regional                            San Pedro  2.807041e+11
184  Tienda Regional                             El Cedro  2.796364e+11
296  Tienda Regional             Urbanización San Juaquín  2.766711e+11
248  Tienda Regional               Nueva Floresta del Ict  2.263471e+11
186  Tienda Regional                      El Gran Limonar  2.177760e+11
294  Tienda Regional                 Urbanización Militar  2.079555e+11
189  Tienda Regional                            El Jardín  2.064022e+11
286  Tienda Regional                      Siete de Agosto  2.031728e+11
222  Tienda Regional                            La Rivera  2.025051e+11
216  Tienda Regional                             La Flora  1.966905e+11
215  Tienda Regional                La Ciudadela Confandi  1.939357e+11
264  Tienda Regional                       Puerta del Sol  1.901892e+11
238  Tienda Regional                       Los Guayacanes  1.596588e+11
174  Tienda Regional                       Ciudad Córdoba  1.596453e+11
247  Tienda Regional                            Municipal  1.577796e+11
183  Tienda Regional                          El Calvario  1.572550e+11

In [ ]:
doc_rep = data.groupby('num_documento_cliente', as_index=False).agg({'tipo_documento_cliente': pd.Series.nunique})

In [ ]:
doc_rep[doc_rep.tipo_documento_cliente>1]

In [ ]:
cols_ini = data.columns

In [180]:
data['aux'] = data['num_documento_cliente'] + 'T ' + data['tipo_documento_cliente']

In [181]:
len(data)

94610

In [182]:
docs = set(data.aux)

In [ ]:
data.drop_duplicates(cols_ini, inplace=True)

In [184]:
data.isnull().sum()

num_documento_cliente     0
tipo_documento_cliente    0
codigo_tienda             0
total_compra              0
tipo_tienda               0
latitud_tienda            0
longitud_tienda           0
id_barrio                 0
nombre_barrio             0
fecha_compra              0
aux                       0
dtype: int64

In [185]:
clientes_dif = data.groupby('tipo_tienda')['aux'].nunique()
clientes_dif = pd.DataFrame(clientes_dif)
clientes_dif.columns = ['cantidad_clientes']
clientes_dif.reset_index(inplace=True)
clientes_dif

            tipo_tienda  cantidad_clientes
0          Hipermercado               2210
1           Minimercado                 17
2          Supermercado               6593
3         Tienda Outlet               5202
4       Tienda Regional               3483
5  Tienda especializada               5648

In [186]:
almenos_100_clientes = clientes_dif[clientes_dif.cantidad_clientes>=100]
almenos_100_clientes

            tipo_tienda  cantidad_clientes
0          Hipermercado               2210
2          Supermercado               6593
3         Tienda Outlet               5202
4       Tienda Regional               3483
5  Tienda especializada               5648

In [190]:
cols = ['nombre_barrio', 'tipo_tienda']
agg = {'aux': pd.Series.nunique}
barrio_tienda = data.groupby(cols).agg(agg)
barrio_tienda.columns = ['cantidad_clientes']
barrio_tienda.reset_index(inplace=True)

In [191]:
cond = barrio_tienda.tipo_tienda == 'Tienda Regional'
barrios_tienda_regional = barrio_tienda[cond]
barrios_tienda_regional.sort_values('cantidad_clientes', inplace=True, ascending=False)

C:\Users\Asus\AppData\Local\Temp\ipykernel_12308\1331289973.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  barrios_tienda_regional.sort_values('cantidad_clientes', inplace=True, ascending=False)

In [192]:
barrios_tienda_regional[:5]

                           nombre_barrio      tipo_tienda  cantidad_clientes
504                       Unicentro Cali  Tienda Regional                364
546                            Versalles  Tienda Regional                332
183                              El Sena  Tienda Regional                293
512  Unidad Residencial Santiago de Cali  Tienda Regional                285
61                                Calima  Tienda Regional                260

In [ ]:
data.columns

In [ ]:
data.isnull().sum()

In [ ]:
documentos = data.loc[:, ['id_doc', 'num_documento_cliente', 'tipo_documento_cliente']]

In [ ]:
documentos.size

In [ ]:
documentos.drop_duplicates(inplace=True)
documentos.size

In [ ]:
documentos[documentos.duplicated('num_documento_cliente', keep=False)].sort_values('num_documento_cliente')

In [ ]:
documentos.to_csv('data/dimension_documento.csv', sep=',', index=False)

In [ ]:
tiendas = data.loc[:, ['codigo_tienda', 'tipo_tienda', 'latitud_tienda', 'longitud_tienda']]

In [ ]:
tiendas.size

In [ ]:
tiendas.drop_duplicates(inplace=True)
tiendas.size

In [ ]:
tiendas[tiendas.duplicated('codigo_tienda', keep=False)].sort_values('codigo_tienda')

In [ ]:
tiendas.to_csv('data/dimension_tienda.csv', sep=',', index=False)

In [ ]:
barrios = data.loc[:, ['id_barrio', 'nombre_barrio']]

In [ ]:
barrios.drop_duplicates(inplace=True)
barrios.size

In [ ]:
barrios[barrios.duplicated('id_barrio', keep=False)].sort_values('id_barrio')

In [ ]:
barrios.to_csv('data/dimension_barrio.csv', sep=',', index=False)

In [ ]:
compras = data.loc[:, ['id_doc', 'codigo_tienda', 'id_barrio', 'total_compra',  'fecha_compra']]

In [ ]:
compras

In [ ]:
compras.drop_duplicates(inplace=True)
compras.size

In [ ]:
compras.to_csv('data/hechos_compra.csv', sep=',', index=False)

In [ ]:
df = pd.merge(compras, documentos, on='id_doc', how='inner')
df.drop_duplicates(inplace=True)
df = pd.merge(df, tiendas, on='codigo_tienda', how='inner')
df.drop_duplicates(inplace=True)
df = pd.merge(df, barrios, on='id_barrio', how='inner')

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.size

In [ ]:
clientes_dif = df.groupby('tipo_tienda')['id_doc'].nunique()
clientes_dif = pd.DataFrame(clientes_dif)
clientes_dif.columns = ['cantidad_clientes']
clientes_dif.reset_index(inplace=True)
clientes_dif